{% extends '../layout/default.html' %}
{% load custom_tags %}
{% block content %}
<div class="card card-primary card-outline">
<div class="content-wrapper">
<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{title}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/home-admin">Home</a></li>
            <li class="breadcrumb-item active">{{title}}</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center mt-5">
        <div class="col-md-4">
          <div class="card card-primary">
            <div class="card-header">
              <h2 class="card-title"><b>{{title}}</b></h2>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <form method="post">
              {% csrf_token %}
              <div class="card-body">
                <div class="form-group">
                  <label>Alias Category</label>
                  <input  type="text" class="form-control" name="alias_category" value="{{cate.alias_category}}" placeholder="Alias Category" required></input>
                </div>
                
                <div class="form-group">
                  <label>Name </label>
                  <input  type="text" class="form-control" name="name" value="{{cate.name}}" placeholder="Name" required></input>
                </div>


                <div class="form-group">
                  <label for="active"> Active </label>
                  <input type="checkbox" name="active" {% if cate.active == True %} checked {% endif %} class="ml-3">
                </div> 
              </div>
              
              <div class="card-footer">
                <button type="submit" class="btn btn-primary float-right mr-3">Save</button>
                <button type="reset" class="btn btn-primary float-right mr-4 ">Reset</button>
              </div>
            </form> 
           </div>
          </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
{% endblock %} 
