{% extends 'default.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
    <div class="mainContent">
        <div class="container">
            <div class="breadcrumb mt-3">
                <nav class="breadcrumb d-flex justify-content-left">
                    <span>
                        <span class="fs-5">
                            <a href="#">Home</a>
                            /
                            <span class="breadcrumb-last">Giỏ hàng</span>
                        </span>
                    </span>
                </nav>
            </div>
            <div class="main-cart">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="main-cart-detail">
                            <div class="heading-cart">
                                <h1>Giỏ hàng của bạn</h1>
                            </div>
                            <div class="list-cart">
                                <div class="cart-row">
                                    <div class="title-number-cart">
                                        Bạn đang có
                                        <strong class="count-cart">{{count}} sản phẩm</strong>
                                        trong giỏ hàng!
                                    </div>
                                    <div class="table-cart">
                                        {% for item in list_cart %}
                                        <form method="post" id="task-form">	
                                            {% csrf_token %}
                                        <div class="line-item border border-2 rounded-3 mt-3 p-3 row">
                                            <div class="col-3 align-self-center position-relative">
                                                <a href="/detail-item/{{item.product_code}}" class="item-img">
                                                    <img src="{{item.image.url}}" alt="Degrey.Madmonks Jacket Biker - JBK" width="100%" height="100%">
                                                </a>
                                                <div class="delete-item position-absolute top-0 end-0">
                                                    <a href="/delete/{{item.product_code}}-{{item.item_size}}">
                                                        <i class="fa-solid fa-trash-can fa-xl"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-5 align-self-center">
                                                <div class="item-info">
                                                    <a href="/detail-item/{{item.product_code}}" class="item-img text-dark">
                                                    <div name="name-item" class="item-title mb-3 fs-5 fw-bold">{{item.item_name}}</div>
                                                    </a>

                                                    {% if item.item_size is not None %}
                                                    <div name="item-size" class="item-size fw-bold fs-6">Size: {{item.item_size}}</div>
                                                    <input type="text" name="item-size" value="{{item.item_size}}" style="visibility: hidden;" >
                                                    {% endif %}
                                                </div>
                                                <div class="item-price">
                                                    <p>
                                                        <span class="text-dark fw-bold fs-6">{{item.price}} ₫</span>															
                                                    </p>
                                                    <input type="text" name="slug" value="{{item.product_code}}" style="visibility: hidden;" >
                                                </div>
                                            </div>
                                            <div class="col-4 align-self-center">
                                                <div class="item-total">
                                                    <div class="item-total-price text-center pb-1 fw-bold">													
                                                        <div class="line-item-total">{{item.qty|mul:item.price}}đ</div>
                                                    </div>
                                                    <div class="item-qty ">
                                                        <div class="qty quantity-partent d-flex justify-content-center ">
                                                        <button type="submit" class="qtyminus-cart qty-btn border border-2 rounded-1">-</button>															
                                                        <input type="text" id="quantity-cart" size="4" name="qty" min="1" value="{{item.qty}}" class="tc line-item-qty item-quantity border border-2 ms-1 me-1 rounded-1 text-center">
                                                        <button type="submit" class="qtyplus-cart qty-btn border border-2 rounded-1">+</button>														
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </form>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mainCart-sidebar">
                            <div class="order-summary-block mb-4">
                                <h2 class="summary-title">Thông tin đơn hàng</h2>
                                <hr>
                                <div class="summary-total pe-5 d-flex justify-content-between">
                                    <span class="fw-bold align-self-center">
                                    Tổng tiền: 
                                    </span>
                                    <span class="fs-4 text-danger fw-bold">{{total_price}} ₫</span>
                                </div>
                                <hr>
                                <div class="summary-action">	
                                    <p class="p-2">* Phí vận chuyển sẽ được tính ở trang thanh toán.</p>					
                                    <div class="summary-button text-end me-4">
                                        <a id="btnCart-checkout" class="checkout-btn btn btn-danger" href="/pay">THANH TOÁN </a>
                                    </div>
                                </div>
                            </div>
                            <div class="order-summary-block order-summary-notify border border-2 bg-success rounded-3 p-3" style="--bs-bg-opacity: .1;">
                                <div class="summary-warning alert-order">						
                                    <p class="textmr"><strong>Chính sách giao hàng</strong></p>									
                                    <p>Hiện chúng tôi chỉ áp dụng thanh toán với đơn hàng có giá trị tối thiểu <strong>150.000₫ </strong> trở lên.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




