{% extends 'default.html' %}
{% load static %}
{% block content %}
    <div class="mainContent">
        <div class="breadcrumb mt-3">
            <div class="container">
                <nav class="breadcrumb d-flex justify-content-left">
                    <span>
                        <span class="fs-5">
                            <a href="#">Home</a>
                            /
                            <span class="breadcrumb-last">Giới thiệu</span>
                        </span>
                    </span>
                </nav>
            </div>
        </div>
        <div class="page-detail">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-9">
                        <div class="pageDetail-content">
                            <div class="page-detail-heading">
                                <h1>Giới thiệu</h1>
                            </div>
                            <div class="page-detail-content">
                                <p>
                                    Cái tên Degrey được tạo ra rất ngẫu hứng, xuất phát từ “Chuỗi ngày u buồn về sự nghiệp, tương lai trong quá khứ của chính mình”
                                        – theo lời chia sẻ của Degrey’s founder. Là một local brand mang khuynh hướng Á Đông, kết hợp giữa hai yếu tố truyền thống và hiện đại, Degrey luôn cố gắng mang đến những thông điệp văn hoá ý nghĩa qua từng đường nét thiết kế. Tiếp theo đó sự sang trọng, thanh lịch cũng là những yếu tố tạo nên một Degrey đầy sức hút, sự lựa chọn hoàn hảo dành cho các bạn trẻ yêu thích phong cách hoài cổ nhưng vẫn muốn thoát xác trong những bộ cánh mới mẻ hơn.
                                </p>
                                <p>
                                    Thành lập từ năm 2016 và được nhiều bạn trẻ biết đến qua những mẫu áo truyền thông, Degrey hiện đang từng bước khẳng định vị trí 
                                    của mình trong bản đồ streetwear Việt Nam. 
                                </p>
                                <p>
                                    Hiện nay, Degrey vẫn đang tiếp tục hoàn thiện và phát triển về sản phẩm cũng như mở rộng nhiều phong cách thời trang.

                                </p>
                                <p>
                                    Degrey xin gửi lời cảm ơn đến tất cả những khách hàng đã, đang và sẽ ủng hộ Degrey cũng như Xoài thời gian qua và sắp tới. 
                                    Cảm ơn rất nhiều !
                                </p>
                                <p>Sơ lược lịch sử DEGREY do DOSIIN - kênh media về thời trang và life-style, khai thác mảng văn hóa đường phố tại Việt</p>

                                <iframe src="https://www.youtube.com/embed/H7vcKCjX-IE" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
                                <p><strong style="font-size:12pt">Một số dự án Degrey tham gia:</strong></p>
                                <p><strong style="font-size:12pt">Degrey – Không chỉ là quần áo (Degrey x Koo) </strong></p>
                                <iframe src="https://www.youtube.com/embed/wnZWXRpGcZ4" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
                                <p><strong style="font-size:12pt">Degrey - Sinh nhật vui vẻ Đạt G (Degrey x Đạt G) </strong></p>
                                <iframe src="https://www.youtube.com/embed/rO92dxA-Ftc" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
                                <p><strong style="font-size:12pt">Degrey – Hơi thở Việt (Degrey x Biti’s Hunter)</strong></p>
                                <iframe src="https://www.youtube.com/embed/O6yvqvjuIgU" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
                                
                                <p>HƯỚNG DẪN MUA HÀNG VÀ THANH TOÁN TẠI DEGREY</p>

                                <p>I – MUA HÀNG OFFLINE – PHƯƠNG THỨC GIAO HÀNG – TRẢ TIỀN MẶT</p>

                                <p>
                                – Phương thức Giao hàng – Trả tiền mặt chỉ áp dụng đối với những khu vực DEGREY hỗ trợ giao nhận hoặc trả tiền mua hàng trực tiếp tại cửa hàng DEGREY
                                </p>
                                <p>
                                – Với phương thức thanh toán trực tiếp Quý khách có thể đặt hàng trên Website DEGREY.VN .
                                </p>
                                <p>
                                Nhân viên chúng tôi sẽ tiến hành gọi xác nhận đơn hàng, xuất hàng cho Quý khách và xác nhận ngày giờ giao hàng với Quý khách sau khi xuất hàng.
                                </p>
                                <p>
                                – Quý khách có trách nhiệm thanh toán đầy đủ toàn bộ giá trị đơn hàng cho Nhân viên giao nhận hoặc Nhân viên bán hàng và chăm sóc khách hàng của DEGREY ngay khi hoàn tất kiểm tra hàng hóa và nhận Phiếu giao hàng kiêm phiếu xuất kho.Hoặc có thể thanh toán quẹt thẻ ATM, VISA, ví MOMO trực tiếp tại cửa hàng DEGREY. Quý khách thanh toán đúng số tiền trên Phiếu đã ghi, nếu có bất cứ thắc mắc nào Quý khách gọi lại cho DEGREY để được thông tin cụ thể hơn.
                                </p>
                                

                                <p>
                                II – MUA HÀNG ONLINE – PHƯƠNG THỨC THANH TOÁN TRƯỚC
                                </p>
                                <p>
                                Khách hàng mua hàng online có thể lựa chọn các hình thức như sau:
                                </p>
                                <p>
                                – Gọi điện để được tư vấn và đặt hàng online trực tiếp với bộ phận chăm sóc khách hàng của DEGREY qua số 0336311117
                                </p>
                                <p>
                                – Khách hàng truy cập website: DEGREY.VN để mua hàng và hoàn thành thông tin đơn hàng.
                                </p>
                                <p>
                                Chuyển tiền, chuyển khoản, thanh toán trực tiếp bằng tiền mặt hoặc qua thẻ tại các hệ thống ngân hàng hoặc trung tâm giao dịch của DEGREY
                                </p>
                                <p>
                                2.1 Chuyển tiền/chuyển khoản: (thông tin tài khoản xem cuối bài viết)
                                </p>
                                <p>
                                -Áp dụng cho khách hàng ngoài khu vực nội thành (phạm vi giao hàng từ 10km đến 100km tính từ các trung tâm của DEGREY và khách hàng ở tỉnh thành khác có nhu cầu sử dụng phương thức thanh toán này. Các bước tiến hành như sau:

                                </p>
                                <p>
                                1. Đến Ngân hàng gần nơi ở của Quý khách nhất để chuyển tiền/chuyển khoản theo thông tin chi tiết DEGREY cung cấp: Số tiền, Tên đơn vị, số tài khoản, Ngân hàng mở tài khoản, nội dụng chuyển tiền/chuyển khoản (Mã đơn hàng).
                                </p>
                                <p>
                                2. Thông báo cho DEGREY (bằng điện thoại, email, SMS, fax, …) khi Quý khách đã thực hiện chuyển tiền/chuyển khoản.
                                </p>
                                <p>
                                3. Hoặc Quý khách vui lòng liên hệ với Bộ phận Bán hàng trực tuyến của DEGREY theo số 0336311117, để thông báo đã chuyển tiền.
                                </p>
                                <p>
                                4. Ngay khi nhận được báo cáo xác nhận từ Ngân hàng, DEGREY sẽ tiến hành thông báo lại cho Quý khách đồng thời xuất hàng giao hàng cho Quý khách trong thời gian quy định trong mục Chính sách vận chuyển.
                                </p>
                                <p>
                                – DEGREY sẽ không chịu trách nhiệm về sai sót trong quá trình chuyển khoản hoặc chuyển khoản sai thông tin, Quý khách phải làm việc với Ngân hàng để được xử lý ổn thỏa, chỉ khi nào tiền được chuyển đến tài khoản của DEGREY, DEGREY sẽ xác nhận với Quý khách. Trong một số tình huống Quý khách có thể nhờ phía Ngân hàng mà Quý khách thực hiện giao dịch hoặc Ngân hàng của DEGREY sử dụng để kiểm tra đối chứng cần thiết.
                                </p>
                                <p>
                                III – MUA HÀNG ONLINE – PHƯƠNG THỨC (COD) NHẬN HÀNG THANH TOÁN
                                </p>
                                <p>
                                Đối với  tất cả các đơn hàng được đặt hàng thành công với hình thức COD (nhận hàng thanh toán tại nhà), khách hàng sẽ được nhân viên của DEGREY liên hệ tư vấn xác nhận đơn hàng và tuỳ vào trường hợp để hướng dẫn khách hàng ĐẶT CỌC TRƯỚC từ 100.000đ – 500.000đ với đơn hàng > 02 triệu được nhân viên DEGREY thông báo cụ thể khi liên hệ. Giá trị đặt cọc sẽ được trừ trực tiếp vào giá trị sản phẩm,  khi nhận hàng bạn chỉ cần thanh toán số tiền còn lại.
                                </p>
                                <p>
                                Hình thức đặt cọc linh hoạt, bạn có thể chuyển khoản qua các tài khoản của DEGREY cuối trang này, cũng có thể chuyển tiền qua các ví điện tử hoặc có thể gửi mã card điện thoại giá trị tương ứng tới Hotline của DEGREY.
                                </p>
                                <p>
                                Ngay sau khi DEGREY xác nhận đã nhận được đặt cọc của quý khách hàng thành công, nhân viên DEGREY sẽ lên đơn hàng, test sản phẩm đóng gói cẩn thận và chuyển tới đơn vị vận chuyển như Giao hàng tiết kiệm, Grab, …chuyển tới quý khách hàng.
                                </p>
                                <p>
                                CHÍNH SÁCH GIAO NHẬN
                                </p>
                                <p>
                                1. DỊCH VỤ ÁP DỤNG :
                                </p>
                                <p>
                                Tất cả các khách hàng mua sản phẩm hàng hoá quần, áo và phụ kiện tại DEGREY có nhu cầu giao hàng trực tiếp tại nhà.
                                </p>
                                <p>
                                2. PHẠM VI ÁP DỤNG:
                                </p>
                                <p>
                                2.1. Giao hàng trong nội thành :
                                </p>
                                <p>
                                – Thu phí 20.000đ/ đơn hàng với các quận nội thành , 
                                </p>
                                <p>
                                – Đối với các đơn hàng có nhu cầu giao gấp trong ngày ,  nhân viên của DEGREY sẽ thoả thuận phí vận chuyển với khách hàng.
                                </p>
                                <p>
                                2.2 . Giao hàng ngoại thành và các tỉnh :
                                </p>
                                <p>
                                – Phí vận chuyển với các quận, huyện ngoại thành nhân viên của DEGREY sẽ thỏa thuận với khách hàng
                                </p>
                                <p>
                                – Phí vận chuyển các tỉnh sẽ tính theo cước bưu điện, cước dịch vụ của nhà chuyển phát.
                                </p>
                                <p>
                                Lưu ý : Khách hàng vui lòng thanh toán chi phí đổi trả hàng và chi phí vận chuyển phát sinh (nếu có).
                                </p>
                                <p>
                                3. THỜI GIAN GIAO HÀNG :
                                </p>
                                <p>
                                Các đơn hàng mua thông thường ( không có ưu đãi giá) trong ngày trước 18h30 trong phạm vi 10 km : sẽ được xử lý đơn hàng và giao trong 1 - 3 ngày hoặc theo thời gian yêu cầu cụ thể của quí khách.
                                </p>
                                <p>
                                Các đơn hàng mua theo giá thông thường ( không có ưu đãi giá), sau 19h00: sẽ được phục vụ vào ngày hôm sau hoặc tùy theo tình hình của nhà vận chuyển tại thời điểm đặt hàng.
                                </p>
                                <p>
                                – Trong một số trường hợp khách quan DEGREY có thể giao hàng chậm trễ do những điều kiện bất khả kháng như thời tiết xấu, điều kiện giao thông không thuận lợi, xe hỏng hóc trên đường giao hàng, trục trặc trong quá trình xuất hàng.
                                </p>
                                <p>
                                – Trong thời gian chờ đợi nhận hàng, Quí khách có bất cứ thắc mắc gì về thông tin vận chuyển xin vui lòng liên hệ tổng đài toàn chăm sóc khách hàng 0336311117 của DEGREY để nhận trợ giúp.
                                </p>
                                <p>
                                4. ĐÓNG GÓI GIAO HÀNG Ở XA
                                </p>
                                <p>
                                Đối với đơn hàng giao hàng ở xa thông qua dịch vụ vận chuyển thuê ngoài, để an toàn cho hàng hóa của quí khách, DEGREY sẽ đóng gói hàng hóa trong các bao bì hoặc thùng hàng chuyên dụng lớn hơn kích thước hàng.
                                </p>
                                <p>
                                5. TRÁCH NHIỆM VỚI HÀNG HÓA VẬN CHUYỂN .
                                </p>
                                <p>
                                – Nếu dịch vụ vận chuyển do DEGREY hoặc do chúng tôi chỉ định sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ DEGREY đến quí khách.
                                </p>
                                <p>
                                – Quí khách có trách nhiệm kiểm tra hàng hóa khi nhận hàng. Khi phát hiện hàng hóa bị hư hại hoặc sai hàng hóa thì ký xác nhận tình trạng hàng hóa với Nhân viên giao nhận và thông báo ngay cho Bộ phận chăm sóc khách hàng 0336311117 
                                </p>
                                <p>
                                Sau khi quí khách đã ký nhận hàng mà không ghi chú hoặc có ý kiến về hàng hóa DEGREY không có trách nhiệm với những yêu cầu đổi trả vì hư hỏng, sai hàng hóa,… từ quí khách sau này.
                                </p>
                                <p>
                                – Nếu dịch vụ vận chuyển do quí khách chỉ định và lựa chọn thì quí khách sẽ chịu trách nhiệm với hàng hóa và các rủi ro như mất mát hoặc hư hại của hàng hóa trong suốt quá trình vận chuyển hàng từ DEGREY đến quí khách. Khách hàng sẽ chịu trách nhiệm cước phí và tổn thất liên quan.
                                </p>
                                <p>
                                CHÍNH SÁCH BẢO HÀNH
                                </p>
                                <p>
                                I. BẢO HÀNH
                                </p>
                                <p>
                                Bảo hành sản phẩm là: khắc phục những lỗi xảy ra do lỗi của DEGREY hoặc tiến hành đổi mới sản phẩm tuỳ vào từng trường hợp .
                                </p>
                                <p>
                                A. Quy định về bảo hành
                                </p>
                                <p>
                                – Sản phẩm được bảo hành miễn phí nếu sản phẩm đó chưa qua sử dụng, còn tag nhãn và hóa đơn mua hàng
                                </p>
                                <p>
                                – Degrey hỗ trợ đổi sản phẩm trong vòng 30 ngày kể từ ngày mua hàng hoặc nhận được hàng.
                                </p>
                                <p>
                                B. Những trường hợp không được bảo hành
                                </p>
                                <p>
                                – Sản phẩm đã hết thời hạn khi quá hạn 30 ngày kể từ ngày mua hàng hoặc nhận được hàng.
                                </p>
                                <p>
                                – Tự ý sử dụng các hoá chất tẩy rửa không đúng theo phiếu hướng dẫn sử dụng của DEGREY
                                </p>
                                <p>
                                – Sản phẩm không có: Nhãn tag giấy Degrey, Hoá đơn mua hàng .
                                </p>
                                <p>
                                – Trường hợp sản phẩm của Quý khách hàng không có hoá đơn mua hàng của DEGREY hay nhầm lẫn thông tin trên Phiếu mua hàng: Trong trường hợp này, bộ phận bảo hành sẽ đối chiếu với số phiếu xuất gốc lưu tại hệ thống của DEGREY, hóa đơn, phần mềm của DEGREY, nếu có sự sai lệch thì sản phẩm của Quý khách không được bảo hành. Kính mong Quý khách hàng thông cảm!
                                </p>
                                <p>
                                – Bảo hành không bao gồm vận chuyển hàng và giao hàng.
                                </p>
                                <p>
                                II. ĐỊA ĐIỂM BẢO HÀNH VÀ BẢO TRÌ
                                </p>
                                <p>
                                Tất cả các sản phẩm được bảo hành tại showroom của DEGREY. Quý khách hàng có thể liên hệ với nhân viên bảo hành của DEGREY để được hướng dẫn thêm thông tin (nếu cần). 033.63.1111.7
                                </p>
                                <p>
                                IV. NHỮNG CHÍNH SÁCH CAM KẾT BẢO HÀNH, ĐỔI HÀNG
                                </p>
                                <p>
                                a. Các sản phẩm quần, áo  : bán ra trong vòng 30 ngày , nếu bị lỗi kỹ thuật do sản xuất thì sẽ được đổi sản phẩm mới cùng loại khác kích thước (size) theo điều kiện đổi ở bên dưới
                                </p>
                                <p>
                                b. Các sản phẩm phụ kiện: tùy theo từng mặt hàng(không bao gồm sản phẩm đồ lót, vớ/tất,...), nếu bị lỗi kỹ thuật do sản xuất, thì sẽ được đổi sản phẩm mới cùng loại theo điều kiện đổi dưới đây:
                                </p>
                                <p>
                                Điều kiện đổi:
                                </p>
                                <p>
                                + Không vi phạm các điều kiện bảo hành,trong vòng 30 ngày kể từ ngày mua hàng hoặc nhận hàng.
                                </p>
                                <p>
                                + Sản phẩm chưa qua sử dụng.
                                </p>
                                <p>
                                + Đầy đủ bao bì, còn nhãn tag đính kèm trên sản phẩm, Hóa đơn mua hàng.
                                </p>
                                <p>
                                + Trường hợp không đủ các điều kiện trên thì quyền quyết định đổi hàng thuộc về DEGREY
                                </p>
                                <p>
                                Sau thời gian trên hoặc những trường hợp không đủ điều kiện đổi hàng thì tất cả các sản phẩm sẽ được bảo hành theo những quy định, chính sách chung của DEGREY. Trường hợp lý do nào đó sản phẩm chậm tiến trình đổi hàng DEGREY có trách nhiệm cập nhật thông tin, tình trạng, cho quý khách.
                                </p>
                                <p>
                                + Trả hàng: DEGREY không có chính sách trả hàng, nhưng hỗ trợ khách hàng nâng cấp sản phẩm nếu cảm thấy sản phẩm đã mua trước đó không phù hợp với nhu cầu sử dụng.
                                </p>
                                <p>
                                V. LIÊN HỆ, THẮC MẮC, KHIẾU NẠI VỀ VẤN ĐỀ ĐỔI HÀNG, BẢO HÀNH
                                </p>
                                <p>
                                Nếu Quý khách chưa thấy hài lòng hoặc có thắc mắc khiếu nại gì về vấn đề bảo hành, xin Quý khách vui lòng liên hệ tới DEGREY tại địa chỉ 43 Huỳnh Văn Bánh P.17 Q.Phú Nhuận, TP.HCM, Điện thoại: 033.63.1111.7 hoặc địa chỉ email: degrey.cskh@gmail.com
                                </p>
                                <p>
                                Toàn thể nhân viên DEGREY  xin chân thành cám ơn Quý khách hàng đã mua hàng của DEGREY. Chắc chắn Quý khách hàng sẽ hài lòng về chất lượng dịch vụ và thái độ phục vụ tốt nhất từ DEGREY.
                                </p>
—————————————————-
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-md-block d-none">
                        <div class="sidebar-page">
                            <div class="side-box">
                                <div class="row content">
                                    <div class="col-12">
                                        <h3>Danh mục page</h3>
                                        <div class="list-item">
                                            <hr class="m-0">
                                            <div class="item-item p-2 ">  
                                                <div class="item-name fs-5 d-flex justify-content-between ">
                                                    <span> Sản phẩm</span>
                                                    <i class="fa-solid fa-plus align-self-center"></i>
                                                </div>
                                                <div class="item-content ps-4 pt-2" style="display:none;">
                                                    <p ><a href="" class="text-body"> Áo Thun</a></p>
                                                    <p><a href="" class="text-body"> Áo Khoác</a></p>
                                                    <p><a href="" class="text-body"> Áo Quần</a></p>
                                                    <p><a href="" class="text-body"> Áo Balo</a></p>
                                                    <p><a href="" class="text-body"> Áo Túi</a></p>
                                                </div>
                                            </div>
                                            <hr class="m-0">
                                            <div class="item-item p-2 ">
                                                <div class="item-name fs-5 d-flex justify-content-between ">
                                                    <span> Store</span>
                                                    <i class="fa-solid fa-plus align-self-center"></i>
                                                </div>
                                                <div class="item-content ps-4 pt-2" style="display:none;">
                                                    <p><a href="" class="text-body"> HCM - Q.Phú Nhuận: 43 Huỳnh Văn Bánh</a></p>
                                                    <p><a href="" class="text-body"> HCM - HCM - Q.Tân Phú: 1041 Lũy Bán Bích</a></p>
                                                    <p><a href="" class="text-body"> HCM - Q.1: 26 Lý Tự Trọng (TNP)</a></p>
                                                    <p><a href="" class="text-body"> ĐÀ LẠT -  11 Khu Hoà Bình, P.1</a></p>
                                                </div>
                                            </div>
                                            <hr class="m-0">
                                            <div class="item-item p-2 ">
                                                <div class="item-name fs-5 ">
                                                    {% comment %} <i class="fa-solid fa-plus"></i> {% endcomment %}
                                                    <a href="" class="text-body"> About-us </a>
                                                </div>
                                                {% comment %} <div class="item-content ps-4 pt-2" style="display:none;">
                                                    <a href="">HCM</a>
                                                </div> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="side-banner">
                                <img src="{% static 'assets/img/z3509830781478_ce69b71da0bf0aafd5d6455921bb9d4e_88f55bac63264b9c94bb5795b6a402d4.webp' %}" alt="img" width="100%">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
        