{% extends 'default.html' %}
{% load static %}
{% block content %}
    <div class="mainContent">
        <div class="section-index-slider">
            <div class="container container-md-pd0">
                <div class="owl-carousel home-banner owl-theme">
                    <div class="item">
                        <h4>
                        <img src="{% static 'assets/img/z3846404810104_d44cde9d25f8565696263cee21b6a8b6_37e573ef87e74208a7749adffb0f9e3c.webp' %}" alt="">
                    </h4></div>
                </div>
            </div>
        </div>
        <div class="collection mt-4">
            <div class="container">
                <div class="section-heading d-flex justify-content-between">
                    <h2 class="hTitle">
                        <a href=""> BACKPACKS | BALO </a>
                    </h2>
                    
                </div>
                <div class="section-content">
                    <div class="list-products">
                        <div class="row">
                            {% for item in list_balo %} 
                            <div class="col-6 col-lg-3">
                                <a href="detail-item/{{item.product_code}}" class="item">
                                    <div class="img-item">
                                        <img src="media/{{item.image}}" alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <div href="">{{item.name}}</div>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">{{item.price}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="list-button text-center mt-2">
                        <a href="items/1" class="btn btn-dark">
                            Xem thêm sản phẩm 
                            <b>	BACKPACKS | BALO</b>
                        </a>
                    </div>
                </div>
            </div>
        </div>

         <div class="collection mt-4">
            <div class="container">
                <div class="section-heading d-flex justify-content-between">
                    <h2 class="hTitle">
                        <a href=""> ÁO KHOÁC | JACKET </a>
                    </h2>
                    
                </div>
                <div class="section-content">
                    <div class="list-products">
                        <div class="row">
                            {% for item in list_jacket %} 
                            <div class="col-6 col-lg-3">
                                <a href="detail-item/{{item.product_code}}" class="item">
                                    <div class="img-item">
                                        <img src="media/{{item.image}}" alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <div href="">{{item.name}}</div>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">{{item.price}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="list-button text-center mt-2">
                        <a href="items/2" class="btn btn-dark">
                            Xem thêm sản phẩm 
                            <b>	ÁO KHOÁC | JACKET </b>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="collection mt-4">
            <div class="container">
                <div class="section-heading d-flex justify-content-between">
                    <h2 class="hTitle">
                        <a href=""> ÁO THUN | TSHIRT </a>
                    </h2>
                    
                </div>
                <div class="section-content">
                    <div class="list-products">
                        <div class="row">
                            {% for item in list_tshirt %} 
                            <div class="col-6 col-lg-3">
                                <a href="detail-item/{{item.product_code}}" class="item">
                                    <div class="img-item">
                                        <img src="media/{{item.image}}" alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <div href="">{{item.name}}</div>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">{{item.price}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="list-button text-center mt-2">
                        <a href="items/3" class="btn btn-dark">
                            Xem thêm sản phẩm 
                            <b>	ÁO THUN | TSHIRT </b>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="collection mt-4">
            <div class="container">
                <div class="section-heading d-flex justify-content-between">
                    <h2 class="hTitle">
                        <a href=""> TÚI | BAG </a>
                    </h2>
                    
                </div>
                <div class="section-content">
                    <div class="list-products">
                        <div class="row">
                            {% for item in list_bag %} 
                            <div class="col-6 col-lg-3">
                                <a href="detail-item/{{item.product_code}}" class="item">
                                    <div class="img-item">
                                        <img src="media/{{item.image}}" alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <div href="">{{item.name}}</div>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">{{item.price}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="list-button text-center mt-2">
                        <a href="items/4" class="btn btn-dark">
                            Xem thêm sản phẩm 
                            <b>	TÚI | BAG </b>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="collection mt-4">
            <div class="container">
                <div class="section-heading d-flex justify-content-between">
                    <h2 class="hTitle">
                        <a href=""> QUẦN | PANTS </a>
                    </h2>
                    
                </div>
                <div class="section-content">
                    <div class="list-products">
                        <div class="row">
                            {% for item in list_pants %} 
                            <div class="col-6 col-lg-3">
                                <a href="detail-item/{{item.product_code}}" class="item">
                                    <div class="img-item">
                                        <img src="media/{{item.image}}" alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <div href="">{{item.name}}</div>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">{{item.price}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                            
                        </div>
                    </div>
                    <div class="list-button text-center mt-2">
                        <a href="items/5" class="btn btn-dark">
                            Xem thêm sản phẩm 
                            <b>	QUẦN | PANTS </b>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
        