{% extends 'default.html' %}
{% load static %}
{% block content %}
    <div class="mainContent store container">
        <div class="breadcrumb mt-3">
            <div class="container">
                <nav class="breadcrumb d-flex justify-content-left">
                    <span>
                        <span class="fs-5">
                            <a href="#">Home</a>
                            /
                            <span class="breadcrumb-last">Store</span>
                        </span>
                    </span>
                </nav>
            </div>
        </div>
        <div class="page-detail">
            <div class="row">
                <div class="col-md-9">
                    <div class="page-heading-detail">
                        <h2>HỆ THỐNG CỬA HÀNG DEGREY</h1>
                    </div>
                    <div class="page-detail-content">
                        <iframe src="https://www.youtube.com/embed/kQ_pyG0jatk" allowfullscreen="allowfullscreen" width="560" height="315" frameborder="0"></iframe>
                        <h1 class="pt-3 pb-3"><img  src="//file.hstatic.net/1000281824/file/bieu-tuong-dia-chi-png-dep_e540b91d0e034a2589f15e4f3b798e72_pico.png">&nbsp;<strong><span style="font-size:15px;">43 Huỳnh Văn Bánh P.17&nbsp;Quận&nbsp;Phú Nhuận -&nbsp;</span></strong><span style="font-size:15px;"><strong>SÀI GÒN</strong></span></h1>
                        <h1 class=""><img style="width: 217.99630737304688px; height: 290.99261474609375px;" src="//file.hstatic.net/1000281824/file/lbb2_3c0c7dbefcd5417097173f7b2b6d6287_medium.jpg">&nbsp;
                            <img style="width: 211.99630737304688px; height: 290.99261474609375px;" src="//file.hstatic.net/1000281824/file/img_8447_00fd11bd37b042849d99678c5f116091_medium.jpg">&nbsp;</h1>
                        <iframe class="pt-3 pb-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.216018618061!2d106.67915291486379!3d10.794760561806687!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528d411c35277%3A0xcf96cde06627a938!2zRGVncmV5LnZuIC0gU8OgaSBHw7JuIC0gNDMgSHXhu7NuaCBWxINuIELDoW5oIFAuMTcgUS5QaMO6IE5odeG6rW4!5e0!3m2!1svi!2s!4v1663125483541!5m2!1svi!2s" width="600" height="450" style="border:0;"></iframe>
                        <h1 class="pt-3 pb-3"><strong><img src="//file.hstatic.net/1000281824/file/bieu-tuong-dia-chi-png-dep_e540b91d0e034a2589f15e4f3b798e72_pico.png">&nbsp;<span style="font-size:15px;">1041&nbsp;Lũy Bán Bích&nbsp;P.Tân Thành&nbsp;Quận&nbsp;Tân Phú -<span style="color:#000000">&nbsp;</span>SÀI GÒN</span></strong></h1>
                        <h1 class="pt-3 pb-3 "><img style="width: 217.97793579101562px; height: 290.95587158203125px;" src="//file.hstatic.net/1000281824/file/lbb6_4e0b7beb03b74b7f90769f1d08810d4c_medium.jpg">&nbsp;<img style="width: 217.97793579101562px; height: 290.95587158203125px;" src="//file.hstatic.net/1000281824/file/img_7668_e9292d56d2fa40d09256574eeb423c90_medium.jpg">&nbsp;</h1>
                        <h1 class="pt-3 pb-3"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2154930192582!2d106.63713081486374!3d10.794800861805921!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f352750b143%3A0xe7ef132486e42a97!2zRGVncmV5LnZuIC0gU8OgaSBHw7JuIC0gMTA0MSBMdeG7uSBCw6FuIELDrWNoIFAuVMOibiBUaMOgbmggUS5Uw6JuIFBow7o!5e0!3m2!1svi!2s!4v1663125571496!5m2!1svi!2s" width="600" height="450" style="border:0;"></iframe></h1>
                        <p class="pt-3 pb-3"><img src="//file.hstatic.net/1000281824/file/bieu-tuong-dia-chi-png-dep_e540b91d0e034a2589f15e4f3b798e72_pico.png">&nbsp;<strong><span style="font-size:15px;">11 Khu Hoà Bình Phường 1-</span>&nbsp;<span style="font-size:15px;">ĐÀ LẠT</span></strong></p>
                        <h1 class="pt-3 pb-3"><img style="width: 391.996307px; height: 290px;" src="//file.hstatic.net/1000281824/file/dl3_7844ce95e2334d70bb508b1c029711b7_large.jpg"></h1>
                        <p>&nbsp;<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.4402446902145!2d108.43397501486997!3d11.943991539822381!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3171133076546f97%3A0x76f9fe25d3ba3f88!2zRGVncmV5LnZuIC0gxJDDoCBs4bqhdCAtIDExIEtodSBIb8OgIELDrG5o!5e0!3m2!1svi!2s!4v1663140825352!5m2!1svi!2s" width="600" height="450" style="border:0;"></iframe></p>
                        <p style="text-align: justify;"><span style="font-size:15px;"><strong>Hotline</strong>: <strong><a href="tel:0336311117">0336311117</a></strong></span></p>
                        <p><img src="https://file.hstatic.net/1000281824/file/fb_15215b561f504b139fdb35856eaa7290_icon.png">&nbsp;&nbsp;<a href="https://www.facebook.com/degrey.saigon">https://www.facebook.com/degrey.saigon</a></p>
                        <p><img src="https://file.hstatic.net/1000281824/file/ig_d1b18ea170384347808d4e782daac98d_icon.png">&nbsp;&nbsp;<a href="https://www.instagram.com/degrey.saigon/">https://www.instagram.com/degrey.saigon/</a></p>
                        <p><img src="https://file.hstatic.net/1000281824/file/youtube_f86089dee31340fe8b215049d4a8d401_icon.png">&nbsp;<a href="https://www.youtube.com/degreyvn">https://www.youtube.com/degreyvn</a></p>
                        <p><img src="https://file.hstatic.net/1000281824/file/tiktok_eddd53a7150d4de489a9ccf8dc5bf5d0_icon.png">&nbsp;<a href="https://www.tiktok.com/@degrey.vn">https://www.tiktok.com/@degrey.vn</a></p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="sidebar-page">
                        <div class="side-box">
                            <div class="row content">
                                <div class="col-12">
                                    <h3>Danh mục page</h3>
                                    <div class="list-item">
                                        <hr class="m-0">
                                        <div class="item-item p-2 ">  
                                            <div class="item-name fs-5 d-flex justify-content-between">
                                                <span> Sản phẩm</span>
                                                <i class="fa-solid fa-plus align-self-center"></i>
                                            </div>
                                            <div class="item-content ps-4 pt-2" style="display:none;">
                                                <p ><a href="" class="text-body"> Áo Thun</a></p>
                                                <p><a href="" class="text-body"> Áo Khoác</a></p>
                                                <p><a href="" class="text-body"> Áo Quần</a></p>
                                                <p><a href="" class="text-body"> Áo Balo</a></p>
                                                <p><a href="" class="text-body"> Áo Túi</a></p>
                                            </div>
                                        </div>
                                        <hr class="m-0">
                                        <div class="item-item p-2 ">
                                            <div class="item-name fs-5 d-flex justify-content-between ">
                                                <span> Store</span>
                                                <i class="fa-solid fa-plus align-self-center"></i>
                                            </div>
                                            <div class="item-content ps-4 pt-2" style="display:none;">
                                                <p><a href="" class="text-body"> HCM - Q.Phú Nhuận: 43 Huỳnh Văn Bánh</a></p>
                                                <p><a href="" class="text-body"> HCM - HCM - Q.Tân Phú: 1041 Lũy Bán Bích</a></p>
                                                <p><a href="" class="text-body"> HCM - Q.1: 26 Lý Tự Trọng (TNP)</a></p>
                                                <p><a href="" class="text-body"> ĐÀ LẠT -  11 Khu Hoà Bình, P.1</a></p>
                                            </div>
                                        </div>
                                        <hr class="m-0">
                                        <div class="item-item p-2 ">
                                            <div class="item-name fs-5 ">
                                                {% comment %} <i class="fa-solid fa-plus"></i> {% endcomment %}
                                                <a href="" class="text-body"> About-us </a>
                                            </div>
                                            {% comment %} <div class="item-content ps-4 pt-2" style="display:none;">
                                                <a href="">HCM</a>
                                            </div> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side-banner">
                            <img src="{% static 'assets/img/z3509830781478_ce69b71da0bf0aafd5d6455921bb9d4e_88f55bac63264b9c94bb5795b6a402d4.webp' %}" alt="img" width="100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>\
{% endblock %}

        