{% extends 'default.html' %}
{% load static %}
{% block content %}
    <div class="mainContent">
        <div class="breadcrumb mt-3">
            <div class="container">
                <nav class="breadcrumb d-flex justify-content-left">
                    <span>
                        <span class="fs-5">
                            <a href="#">Home</a>
                            /
                            <span class="breadcrumb-last">Tất cả sản phẩm</span>
                        </span>
                    </span>
                </nav>
            </div>
        </div>
        <div class="collection-banner">
            <div class="container-xs-pd0">
                <img src="{% static 'assets/img/z3533341777412_f5edd4a273a3ef5093b6567f1acd7b0f_1d288245ef874e9fab99f73c62539549.jpg' %}" alt="banner" width="100%">
            </div>
        </div>
        <div class="main-collection mt-3">
            <div class="collection-heading">
                <div class="container">
                    <div class="bgwhite-heading">
                        <div class="row">
                            <div class="col-md-9 align-self-center">
                                <h1>Tất cả sản phẩm</h1>
                            </div>
                            <div class="col-md-3 align-self-center text-center">
                                <div class="nav-item me-4 ">
                                    <a href="" class="dropdown-nav text-head dropdown-toggle btn btn-primary p-2">Sắp xếp</a>
                                    <ul class="dropdown-menu">
                                        <li class="dropdown-item">
                                            <a href="">Sản phẩm nổi bật</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="">Giá: Tăng dần</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="">Giá: Giảm dần</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection-list-items">
                <div class="container">
                    <div class="collection">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-3">
                                <div class="item">
                                    <div class="img-item">
                                        <img src="{% static 'assets/img/452f3fa9f01c4207a04dee57a966d994_5d5f97a15330417ab13306bf38af0529_large.webp' %} " alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <a href="">Degrey Double Block Balo - DDBB</a>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">400,000₫</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="list-button text-center mt-2">
                        <a href="" class="btn btn-dark">
                            Xem thêm sản phẩm 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        