{% extends 'default.html' %}
{% load static %}
{% block content %}
    <div class="mainContent">
        <div class="breadcrumb mt-3">
            <div class="container">
                <nav class="breadcrumb d-flex justify-content-left">
                    <span>
                        <span class="fs-5">
                            <a href="#">Home</a>
                            /
                            <span class="breadcrumb-last">Tất cả sản phẩm</span>
                        </span>
                    </span>
                </nav>
            </div>
        </div>
        <div class="collection-banner">
            <div class="container-xs-pd0">
                <img src="{% static 'assets/img/z3533341777412_f5edd4a273a3ef5093b6567f1acd7b0f_1d288245ef874e9fab99f73c62539549.jpg' %}" alt="banner" width="100%">
            </div>
        </div>
        <div class="main-collection mt-3">
            <div class="collection-heading">
                <div class="container">
                    <div class="bgwhite-heading">
                        <div class="row">
                            <div class="col-md-9 align-self-center">
                                <h1>Tất cả sản phẩm</h1>
                            </div>
                            <div class="col-md-3 align-self-center text-center">
                                <div class="nav-item me-4 ">
                                    <a href="" class="dropdown-nav text-head dropdown-toggle btn btn-primary p-2">Sắp xếp</a>
                                    <ul class="dropdown-menu">
                                        {% if slug is None %}
                                            <li class="dropdown-item">
                                                <a href="/items/filter/a-z">Tên A-Z</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/items/filter/z-a">Tên Z-A</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/items/filter/price-up">Giá: Tăng dần</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/items/filter/price-down">Giá: Giảm dần</a>
                                            </li>
                                        {% else %}
                                            <li class="dropdown-item">
                                                <a href="/items/{{slug}}/a-z">Tên A-Z</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/items/{{slug}}/z-a">Tên Z-A</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/items/{{slug}}/price-up">Giá: Tăng dần</a>
                                            </li>
                                            <li class="dropdown-item">
                                                <a href="/items/{{slug}}/price-down">Giá: Giảm dần</a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection-list-items">
                <div class="container">
                    <div class="collection">
                        <div class="row list-item">
                            {% for item in page_obj %} 
                            <div class="col-6 col-lg-3 item">
                                <a href="/detail-item/{{item.product_code}}" data-listing-price="{{item.price}}">
                                    <div class="img-item">
                                        <img src="{{item.image.url}}" alt="item">
                                    </div>
                                    <div class="detail-item">
                                        <h5>
                                            <div href="">{{item.name}}</div>
                                        </h5>
                                        <p class="price-item">
                                            <span class="price">{{item.price}}</span>
                                        </p>
                                    </div>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="pagination d-flex justify-content-center">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="btn btn-primary">&laquo; First</a>
                                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</a>
                                {% endif %}
                        
                                <span class="current btn btn-primary" >
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                                </span>
                        
                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                        
                    </div>
                    {% comment %} <div class="list-button text-center mt-2">
                        <a href="" class="btn btn-dark">
                            Xem thêm sản phẩm 
                        </a>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

        